* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      background-color: lightgrey;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
  }

  /* header/ Nav Bar Style Start */

  header {
      background-image: url(http://www.newdesignfile.com/postpic/2012/06/photoshop-psd-free-download_196558.jpg);
      background-size: cover;
      display: flex;
      justify-content: space-between;
      padding: 20px 35px;
      top: 0;
      background-position: 80%;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: lightgrey;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: gray;
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }

  /* FOOTER START */
 
  .footer {
    background-image: url(http://www.newdesignfile.com/postpic/2012/06/photoshop-psd-free-download_196558.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
  }

  footer {
    display: block;
    background: lightgray;
    padding: 40px 35px;
    width: 100%;
  }

  footer h2 {
      display: flex;
      font-size: 28px;
      margin: 0;
  }

   /* SECTION TITLE STYLES START */
   .section-heading {
    text-align:left;
    color:black;
    margin-top: 150px;
    margin-bottom:70px;
    font-size: 35px;
  }

   .section h2 {
    font-size: 55px;
    border-bottom: 3px solid;
    color: white;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%; 
  }

  /* SECTION TITLE STYLES END */
  
  /* Work */
  .work {
    width: 400px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: blue;
    margin-bottom: auto;
    font-size: medium;
    overflow: auto;
  }

  .work img {
    width: 25%;
    float: left;
  }

  #hover-card:hover {
    background-color: lightblue;
    opacity: 40%;
  }

  #overlay {
    width: 100%;
    height: 100%;
  }

  #overlay:hover {
    background-color: lightblue;
    opacity: 40%;
  }
    
  .column-4 {
    float: left;
    width: 21%;
    padding: 10px;
    margin:20px;
    height: 250px;
  }

  .project-text {
    text-align:center;
    font-size:50px;
  }

  .contact h3 {
    text-align: left;
    font-size: 50px;
  }

    /* content decoration */
    .content {
        background-color: lightgray;
        padding: 10px;
    }

    section.cms-boxes .cms-boxes-outer {
      text-align: left;
      margin-bottom: 6px;
      padding: 0 3px;
    }
    section.cms-boxes .cms-boxes-outer .cms-boxes-items {
      height: 350px;
      display: table;
      width: 100%;
    }
    section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
      color: #fff;
    }
    section.cms-boxes .cms-features {
      background-color: #b70457;
    }
    section.cms-boxes .boxes-align {
      display: table-cell;
      vertical-align: middle;
    }
    section.cms-boxes .small-box, 
    section.cms-boxes .large-box {
      max-width: 350px;
      margin: 0 auto;
      text-align: center;
    }
    section.cms-boxes .cms-boxes-items h2 {
      font-size: 35px;
      color: #fff;
      font-weight: 400;
      line-height: 37px;
      text-align: center;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }
    section.cms-boxes .cms-security {
      background-color: #0489b7;
    }
    section.cms-boxes .cms-security, 
    section.cms-boxes .cms-documentation {
      background-color: rgb(66, 16, 88);
    }
    section.cms-boxes .cms-scalability {
      background: url(https://www.solodev.com/assets/tiles/scalability.jpg) 0 0 no-repeat;
      background-size: cover;
    }
    section.cms-boxes .cms-built {
      background: url(https://www.solodev.com/assets/tiles/customer-service.jpg) 0 0 no-repeat;
      background-size: cover;
    }
    section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
      background-color: rgb(66, 16, 88);
    }
    section.cms-boxes .cms-boxes-items:hover {
      opacity: .2;
      cursor: pointer;
    }